/* Contenedor principal del panel */
.panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/pixelAnimado.gif); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%; 
  height: 100%; 
  border: 2px solid #444; 
}


/* Filas del tablero */
.panel-row {
  display: flex;
}

/* Celdas del tablero */
.panel-cell {
  width: 40px; 
  height: 40px; 
  border: 1px solid #444; 
  background-color: #000; 
}

/* Bordes del tablero */
.border-cell {
  background-color: #222;
}

/* Celdas ocupadas */
.cell-content {
  width: 100%;
  height: 100%;
  background-color: #f39c12; /* Ejemplo de celda ocupada */
}
